/**
/
/ Wird auf alles auf home.component.tsx angewendet
*/


.Home {
    background-color:darkblue;
    display: flex; /* Ordnet Tiles dynamisch an */
    flex-wrap: wrap; /* Verhindert dass Tiles abgeschnitten werden */
    justify-content: center; /* Zentriert alles im Body */
  }
  
/* Definiert größe und Farbe der Tiles */
  .tile {
    width: 300px;
    height: 400px;
    margin: 10px;
    background-color:cornflowerblue;
  }